<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/css/main.css">
  </head>
  <body>
    <header>
      <nav>
        <div>

        </div>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">ARCHIVE</a></li>
          <li><a href="#">NEW POST</a></li>
          <li><a href="#">EDIT POST</a></li>
          <li><a href="#">LOGIN</a></li>
          <li><a href="#">SIGN UP</a></li>
        </ul>
      </nav>
      <div class="heading">
        <h1><%= title %></h1>
        <p>Are you ready to <%= title %>?</p>
      </div>
    </header>
  </body>
</html>
