@font-face {
  font-family: "Poiret One";
  src: url(/fonts/PoiretOne-Regular.ttf); }
body {
  margin: 0;
  padding: 0; }

header {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)), url(/images/art-artist-canvas-374054.jpg);
  background-size: 100% 52rem;
  height: 100vh; }

p {
  font-family: 'Source Sans Pro', sans-serif; }

nav {
  width: 100%;
  height: 4rem;
  background: rgba(255, 255, 255, 0.476); }
  nav div img {
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem; }
  nav ul {
    height: 100%;
    margin: 0;
    padding: 1.2rem 0 0 0; }
    nav ul li {
      list-style: none;
      text-align: center; }
      nav ul li a {
        color: rgba(0, 0, 0, 0.7);
        font-family: 'Dosis', sans-serif;
        text-decoration: none;
        position: relative;
        padding: 0.6rem 1.6rem; }
      nav ul li a::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background: rgba(0, 0, 0, 0.653);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s ease-in-out; }
      nav ul li a:hover::before {
        width: 80%; }
      nav ul li a:hover {
        color: black;
        text-decoration: none; }
    nav ul li:nth-child(5) a,
    nav ul li:nth-child(6) a {
      color: rgba(0, 0, 0, 0.7);
      transition: all 0.5s ease-in-out;
      z-index: 2; }
      nav ul li:nth-child(5) a span,
      nav ul li:nth-child(6) a span {
        position: relative;
        z-index: 2; }
    nav ul li:nth-child(5) a:hover,
    nav ul li:nth-child(6) a:hover {
      color: white; }
    nav ul li:nth-child(5) a:hover::before,
    nav ul li:nth-child(6) a:hover::before {
      width: 0; }
    nav ul li:nth-child(5) a:hover::before,
    nav ul li:nth-child(6) a:hover::before {
      width: 100%;
      height: 100%;
      background: rgba(255, 0, 0, 0.816); }
    nav ul li:nth-child(5) a:before,
    nav ul li:nth-child(6) a:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 5rem;
      height: 2rem;
      background: rgba(255, 0, 0, 0.598);
      border-radius: 2rem; }

.heading {
  text-align: center;
  padding-top: 12rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.415); }
  .heading div {
    position: relative; }
    .heading div h1 {
      font-size: 7rem;
      font-weight: 600;
      position: relative;
      letter-spacing: 0.4rem;
      position: relative;
      z-index: 2;
      font-family: "Poiret One"; }
    .heading div h1::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 5.5rem;
      height: 0.3rem;
      background: red; }
  .heading div:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 13rem;
    height: 8rem;
    transform: skewX(-26deg);
    z-index: 0;
    background: rgba(255, 0, 0, 0.768);
    left: 42.5rem;
    z-index: 1; }
  .heading p {
    font-size: 4rem;
    font-family: 'Poiret One'; }

.intro {
  padding: 6rem 4rem; }
  .intro p {
    color: #bdbdbd;
    font-size: 1.2rem; }

.latest {
  height: 100%;
  border: 0.2px solid rgba(0, 0, 0, 0.143);
  position: relative;
  overflow: hidden; }
  .latest .title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease-in-out;
    z-index: 3; }
    .latest .title h5 {
      color: white;
      letter-spacing: 0.1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20rem;
      text-align: center; }
  .latest .imgBox {
    width: 100%;
    height: 100%; }
    .latest .imgBox img {
      width: 100%;
      height: 100%;
      transform: scale(1.3);
      transition: all 0.5s ease-in-out; }
  .latest .content {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.415), black);
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    opacity: 0;
    filter: blur(1px);
    padding: 0 2rem; }
    .latest .content p:nth-child(1) {
      color: #b6b6b6;
      font-size: 16px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%; }
    .latest .content p:nth-child(2) {
      color: #bdbdbd;
      font-size: 12px;
      position: absolute;
      left: 2rem;
      bottom: 1rem; }
    .latest .content p:nth-child(3) {
      color: #bdbdbd;
      font-size: 12px;
      position: absolute;
      right: 2rem;
      bottom: 1rem; }

.latest:hover img {
  transform: scale(1);
  filter: blur(2px); }

.latest:hover .content {
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
  height: 100%; }

.latest:hover .title {
  top: -30rem; }

.latest:nth-last-of-type(3) {
  grid-row: span 2; }

nav {
  display: grid;
  grid-template-columns: 40% 60%; }
  nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr); }

.featured-blogs {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 20rem 20rem;
  padding: 0 4rem;
  grid-gap: 0.5rem; }

/*# sourceMappingURL=main.css.map */
