@font-face {
  font-family: "Poiret One";
  src: url(/fonts/PoiretOne-Regular.ttf); }
body {
  margin: 0;
  padding: 0; }

header {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)), url(/images/art-artist-canvas-374054.jpg);
  background-size: 100% 52rem;
  height: 100vh; }

p {
  font-family: 'Source Sans Pro'; }

nav {
  width: 100%;
  height: 4rem;
  background: rgba(255, 255, 255, 0.476); }
  nav div img {
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem; }
  nav ul {
    height: 100%;
    margin: 0;
    padding: 1.2rem 0 0 0; }
    nav ul li {
      list-style: none;
      text-align: center; }
      nav ul li a {
        color: rgba(0, 0, 0, 0.7);
        font-family: 'Dosis', sans-serif;
        text-decoration: none;
        position: relative;
        padding: 0.6rem 1.6rem; }
      nav ul li a::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background: rgba(0, 0, 0, 0.653);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s ease-in-out; }
      nav ul li a:hover::before {
        width: 80%; }
      nav ul li a:hover {
        color: black;
        text-decoration: none; }
    nav ul li:nth-child(5) a,
    nav ul li:nth-child(6) a {
      color: rgba(0, 0, 0, 0.7);
      transition: all 0.5s ease-in-out;
      z-index: 2; }
      nav ul li:nth-child(5) a span,
      nav ul li:nth-child(6) a span {
        position: relative;
        z-index: 2; }
    nav ul li:nth-child(5) a:hover,
    nav ul li:nth-child(6) a:hover {
      color: white; }
    nav ul li:nth-child(5) a:hover::before,
    nav ul li:nth-child(6) a:hover::before {
      width: 0; }
    nav ul li:nth-child(5) a:hover::before,
    nav ul li:nth-child(6) a:hover::before {
      width: 100%;
      height: 100%;
      background: rgba(255, 0, 0, 0.816); }
    nav ul li:nth-child(5) a:before,
    nav ul li:nth-child(6) a:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 5rem;
      height: 2rem;
      background: rgba(255, 0, 0, 0.598);
      border-radius: 2rem; }

footer {
  height: 16rem;
  padding: 2rem 4rem 2rem 4rem;
  border-top: 0.5px solid rgba(0, 0, 0, 0.3);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3); }
  footer a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1rem;
    background: rgba(255, 0, 0, 0.598);
    transition: all 0.5s ease-in-out; }
  footer a:hover::before {
    width: 100%; }
  footer .contact {
    border-right: 0.5px dotted rgba(0, 0, 0, 0.292);
    padding-left: 2rem; }
    footer .contact h6 {
      font-size: 2rem;
      position: relative;
      letter-spacing: 0.4rem;
      position: relative;
      z-index: 2;
      font-family: "Poiret One"; }
    footer .contact h6::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 1.8rem;
      height: 0.2rem;
      background: red; }
    footer .contact p {
      color: black;
      font-size: 0.8rem;
      letter-spacing: 1px;
      font-family: "Dosis";
      padding: 1rem 0; }
      footer .contact p i {
        padding: 0.5rem;
        margin-right: 2rem;
        color: white;
        font-size: 1rem;
        background: rgba(255, 0, 0, 0.598);
        border-radius: 0.5rem; }
  footer .archive {
    border-right: 0.5px dotted rgba(0, 0, 0, 0.333);
    padding-left: 8rem; }
    footer .archive p a {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      font-family: "Dosis";
      text-transform: uppercase;
      color: black;
      text-decoration: none;
      position: relative; }
  footer .other-blogs {
    padding-left: 12rem; }
    footer .other-blogs h6 {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      font-family: "Dosis";
      text-transform: uppercase;
      color: black;
      text-decoration: none;
      position: relative; }
    footer .other-blogs h6::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 7.5rem;
      height: 0.1rem;
      background: red; }
    footer .other-blogs p a {
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      font-family: "Dosis";
      text-transform: uppercase;
      color: black;
      text-decoration: none;
      position: relative; }

.designer {
  height: 4rem;
  background: #dfdfdf;
  width: calc(100vw - 9rem);
  margin: 2rem auto 0 auto; }
  .designer p {
    text-align: center;
    margin: 0;
    padding-top: 1rem; }

.heading {
  text-align: center;
  padding-top: 12rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.415); }
  .heading div {
    position: relative; }
    .heading div h1 {
      font-size: 7rem;
      font-weight: 600;
      position: relative;
      letter-spacing: 0.4rem;
      position: relative;
      z-index: 2;
      font-family: "Poiret One"; }
    .heading div h1::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 5.5rem;
      height: 0.3rem;
      background: red; }
  .heading div:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 13rem;
    height: 8rem;
    transform: skewX(-26deg);
    z-index: 0;
    background: rgba(255, 0, 0, 0.768);
    left: 42.5rem;
    z-index: 1; }
  .heading p {
    font-size: 4rem;
    font-family: 'Poiret One'; }

.intro {
  padding: 6rem 4rem; }
  .intro p {
    color: #bdbdbd;
    font-size: 1.2rem; }

.latest {
  height: 100%;
  border: 0.2px solid rgba(0, 0, 0, 0.143);
  position: relative;
  overflow: hidden; }
  .latest .title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease-in-out;
    z-index: 3; }
    .latest .title h5 {
      color: white;
      letter-spacing: 0.1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20rem;
      text-align: center; }
  .latest .imgBox {
    width: 100%;
    height: 100%; }
    .latest .imgBox img {
      width: 100%;
      height: 100%;
      transform: scale(1.3);
      transition: all 0.5s ease-in-out; }
  .latest .content {
    position: absolute;
    background: radial-gradient(rgba(0, 0, 0, 0.415), black);
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    opacity: 0;
    filter: blur(1px);
    white-space: pre-wrap;
    padding: 0 2rem; }
    .latest .content p:nth-child(1) {
      color: #b6b6b6;
      font-size: 16px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%; }
    .latest .content p:nth-child(2) {
      color: #bdbdbd;
      font-size: 12px;
      position: absolute;
      left: 2rem;
      bottom: 1rem; }
    .latest .content p:nth-child(3) {
      color: #bdbdbd;
      font-size: 12px;
      position: absolute;
      right: 2rem;
      bottom: 1rem; }

.latest:hover img {
  transform: scale(1);
  filter: blur(2px); }

.latest:hover .content {
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
  height: 100%; }

.latest:hover .title {
  top: -30rem; }

.latest:nth-last-of-type(3) {
  grid-row: span 2; }
  .latest:nth-last-of-type(3) .content {
    width: 100%;
    top: 0;
    left: -30rem;
    bottom: 0; }

.latest:nth-last-of-type(3):hover .content {
  left: 0; }

.latest:nth-last-of-type(2) .content {
  width: 100%;
  height: 0;
  top: 0;
  left: 0; }

.latest:nth-last-of-type(2):hover .content {
  height: 100%; }

.latest:nth-last-of-type(1) .content {
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0; }

.latest:nth-last-of-type(1):hover .content {
  height: 100%; }

.sign-up {
  position: fixed;
  opacity: 0;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.687);
  z-index: 1;
  transition: all 0.5s ease-in-out; }
  .sign-up form {
    width: 50%;
    height: 80%;
    background: linear-gradient(-70deg, #ff5252 50%, white 50%);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .sign-up form h6 {
      text-align: center;
      font-size: 3rem;
      margin-top: 2rem;
      margin-bottom: 7rem;
      position: relative;
      color: #494949;
      font-family: "Poiret One"; }
    .sign-up form h6::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 1.6rem;
      height: 0.1rem;
      background: red; }
    .sign-up form p {
      text-align: center;
      margin-bottom: 3rem; }
      .sign-up form p input {
        width: 30rem;
        height: 3rem;
        font-size: 0.8rem;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.183);
        position: relative;
        border-radius: 0.4rem; }
      .sign-up form p input[name="name"] {
        padding-left: 1rem; }
    .sign-up form button {
      border: none;
      padding: 0.6rem 1.4rem;
      background: #ff6363;
      margin-left: 8.8rem;
      color: white; }
    .sign-up form div {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 4rem;
      height: 4rem; }
      .sign-up form div i {
        position: absolute;
        font-size: 1.6rem;
        color: white;
        transition: all 0.5s ease-in-out; }
      .sign-up form div span {
        opacity: 0;
        position: absolute;
        right: 2rem;
        color: white;
        transition: all 0.5s ease-in-out; }
    .sign-up form div:hover i {
      transform: rotateZ(-360deg); }
    .sign-up form div:hover span {
      right: 5rem;
      opacity: 1; }

#sign-up-pop-up.active {
  opacity: 1;
  z-index: 4;
  width: 100%;
  height: 100%; }

nav {
  display: grid;
  grid-template-columns: 40% 60%; }
  nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr); }

.featured-blogs {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 20rem 20rem;
  padding: 0 4rem;
  grid-gap: 0.3rem; }

footer {
  display: grid;
  width: calc(100vw - 9rem);
  margin: 8rem auto 0 auto;
  grid-template-columns: 30% 30% 40%; }

/*# sourceMappingURL=main.css.map */
