body {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)), url(/images/art-artist-canvas-374054.jpg);
    background-size: 100% 52rem;
    height: 100vh;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    width: 100%;
    height: 4rem;
    background: rgba(255, 255, 255, 0.476);

    div {

        // i {
        //     font-size: 3rem;
        //     color: red;
        //     margin: 0;
        // }

        img {
            width: 3rem;
            height: 3rem;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
        }
    }

    ul {
        height: 100%;
        margin: 0;
        padding: 1.2rem 0 0 0;

        li {
            list-style: none;
            text-align: center;

            a {
                color: rgba(0, 0, 0, 0.7);
                font-family: 'Dosis', sans-serif;
                text-decoration: none;
                position: relative;
                padding: 0.6rem 1.6rem;
            }

            a::before {
                content: "";
                position: absolute;
                width: 0%;
                height: 2px;
                background: rgba(0, 0, 0, 0.653);
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: all 0.5s ease-in-out;
            }

            a:hover::before {
                width: 80%;
            }

            a:hover {
                color: rgb(0, 0, 0);
                text-decoration: none;
            }
        }

        li:nth-child(5),
        li:nth-child(6) {

            a {
                color: rgba(0, 0, 0, 0.7);
                transition: all 0.5s ease-in-out;
                z-index: 2;

                span {
                    position: relative;
                    z-index: 2;
                }
            }

            a:hover {
                color: rgb(255, 255, 255);
            }


            a:hover::before {
                width: 0;
            }

            a:hover::before {
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 0, 0.816);
            }

            a:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 5rem;
                height: 2rem;
                background: rgba(255, 0, 0, 0.598);
                border-radius: 2rem;
            }
        }
    }
}
