.heading {
    text-align: center;
    padding-top: 12rem;
    font-family: 'Poiret One', cursive;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.415);

    h1 {
        font-size: 7rem;
        font-weight: 600;
        position: relative;
        letter-spacing: 0.4rem;
    }

    
    h1::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 5.5rem;
        height: 0.2rem;
        background: red;
    }
    
    h1::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 5.5rem;
        height: 0.2rem;
        background: red;
        left: 46.5rem;
    }
    
    p {
        font-size: 4rem;
    } 
}