nav {
    display: grid;
    grid-template-columns: 40% 60%;

    ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}

.featured-blogs {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20rem 20rem;
    padding: 0 4rem;
    grid-gap: 0.5rem;
}
